<Template name='wall'>
  <div class="wall wall-{{type}} panel panel-default row">
    <div class="panel-heading text-center clearfix">
      <div>
        {{{title}}}
        <div class="pull-right">
          {{#if canEditWall}}
            <button class="btn btn-default editColumns"> 
              {{editColumns}}
            </button>
            {{#if inEditedWall}} {{#if isInRole 'teacher'}}
              {{>showHide collection='Walls' itemName='wall' item=this}}
            {{/if}}{{/if}}
          {{/if}}
        </div>
        {{#if isInRole 'teacher'}} {{#if editingActivity}}
          <div class="pull-left">
            <a class="glyphicon glyphicon-move wallSortableHandle {{editingActivity}}" title="move wall"></a>
          </div>
        {{/if}}{{/if}}
        <!--<ul class="nav navbar-nav">
          {{#if inStudentWall}}
            {{>viewAs}}
          {{/if}}
        </ul>-->
      </div>
    </div>
    {{#if visibleOrEditing}}
      <div class="panel-body">
        {{#if inEditedWall}}
          {{>helpBannerNavPills messages=helpMessages}}
        {{/if}}
          {{#each columns}}
            {{> column}}
          {{/each}}
      </div>
    {{/if}}
  </div>
</Template>