<Template name='wall'>
  <div class="wall wall-{{type}} panel panel-default row">
    <div class="panel-heading text-center clearfix">
      <div class='wallSortableHandle'>
        {{{title}}}
        <div class="pull-right">
          {{#if canEditWall}}
            <button class="btn btn-default editColumns"> 
              {{editColumns}}
            </button>
            {{#if inEditedWall}}
              {{>showHide collection='Walls' itemName='wall' item=this}}
            {{/if}}
          {{/if}}
        </div>
        <!--<ul class="nav navbar-nav">
          {{#if inStudentWall}}
            {{>viewAs}}
          {{/if}}
        </ul>-->
      </div>
    </div>
    {{#if visibleOrEditing}}
      <div class="panel-body">
        {{#if inEditedWall}}
          {{>helpBannerNavPills messages=helpMessages}}
        {{/if}}
          {{#each columns}}
            {{> column}}
          {{/each}}
      </div>
    {{/if}}
  </div>
</Template>