[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 2px;
  line-height: 14px;
  vertical-align: text-top;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain; 
}
i.icon-notStarted {
  background-image: url('notStarted.png');
}
i.icon-oneBar {
  background-image: url('oneBar.png');
}
i.icon-twoBars {
  background-image: url('twoBars.png');
}
i.icon-threeBars {
  background-image: url('threeBars.png');
}
i.icon-fourBars {
  background-image: url('fourBars.png');
}
i.icon-fiveBars {
  background-image: url('fiveBars.png');
}

i.icon-nofilter {
  background-image: url('nofilter.png');
}
i.icon-nostatus {
  background-image: url('noStatus.png');
  background-color: Lavender;
} 
i.icon-submitted {
  background-image: url('submitted.png');
  background-color: green; 
} 
i.icon-returned {
  background-image: url('returned.png');
  background-color: blue;  
}
i.icon-donewithcomments {
  background-image: url('done.png');
  background-color: blue;  
}
i.icon-done {
  background-image: url('done.png');
}
i.icon-late {
  background-image: url('late.png');
}

#activityList a, #subactivityList a {
  padding-right: 1px;
}
#activityList i.activityStatus, #activityList i.activityProgress,
#subactivityList i.activityStatus, #subactivityList i.activityProgress {
  margin-left: 4px;
}
#activityList i.progressstripe {
  float: right;
}
#activityList i.progressstripe.expected {
  background-color: #FAA732;
}
#activityList i.progressstripe.completed {
  background-color: #08C; 
}
