#activitiesListTitle h4 {
  display: inline-block;
}
#activitiesListTitle span {
  margin-right: 4px;
  font-size: small;
}

#units li a {
  color: black;
  border: thin;
  text-align: center;
}
#units li div.progress {
  margin-bottom: 0;
  height: 10px;
}
#units div[contenteditable="true"][class~='editUnitTitle'] {
  overflow: hidden;
  border-style: dashed;
  border-color: DeepSkyBlue;
  border-width: thin;
  background-color: inherit;
  height: auto;
  width: 100%;
}


#activityList {
  outline: 1px solid #AAA;
}
#activityList p {
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
}
#activityList p a {
    color: #555555;
    font-size: small;
}