#calendarEventModal div.row {
  margin-bottom: 3px;
}
#calendarEventModal form.form-inline {
  margin-bottom: 3px;
}
#calEventModalTimeperiodName {
  width: 200px;
}
.todoItem span.glyphicon.glyphicon-move:hover {
  cursor: move;
}
.todoItem span.glyphicon.glyphicon-check:hover,
.todoItem span.glyphicon.glyphicon-unchecked:hover {
  cursor: pointer;
}