#standardDescription {
  background-color: #F5F5F5;
  border-style: solid;
  border-color: #CCC;
  border-radius: 10px;
  padding: 10px;
}
#LoMlist > div.LoMitem:nth-child(odd) {
  background-color: #DFF0D8;
}
#LoMlist > div.LoMitem:nth-child(even) {
  background-color: #F9F9F9;
}
#LoMlist div.LoMitem .LoMitemInfo {
  font-size: 10pt;
  margin-left: 50px;
}
#LoMlist div.LoMitem div.plaintexteditor {
  width: 48px;
  display: inline-block;
  min-height: 32px;
  vertical-align: top;
}
#LoMlist div.LoMitem form.form-inline.LoMAssessmentVersion div.plaintexteditor {
  width: 125px;
  margin-bottom: 0;
}
#LoMlist div.LoMitem div.summernote {
  width: 500px;
  display: inline-block;
  min-height: 32px;
  vertical-align: top;
}
#LoMlist div.LoMitem span.LoMcomment {
  width: 500px;
  display: inline-block;
  vertical-align: top;
}
#LoMlist div.newLoM {
  margin-bottom: 10px;
  background-color: #DFF0D8;
}
#LoMlist form.form-inline div.summernote.comment,
#LoMlist div.newLoM span.LoMcomment {
  width: 500px;
  display: inline-block;
  min-height: 32px;
  vertical-align: top;
}
#LoMlist div.newLoM span.LoMcomment {
  border-style: solid;
  border-color: DeepSkyBlue;
  border-width: thin;
}
#LoMlist div.newLoM div.previousLoMLevel {
  width: 48px;
  display: inline-block;
  min-height:32px;
  padding-top: 4px;
  vertical-align: top;
  text-align: center;
  border-style: solid;
  border-color: DeepSkyBlue;
  border-width: thin;
}
#LoMlist div.newLoM input.version {
  background: inherit;
  border-style: dashed;
  border-color: #00BFFF;
  border-width: thin;  
}
#LoMlist form.form-inline div.form-group input.form-control.level {
  width: 48px;
}
.LoMhigh { background: green;}
.LoMmedium { background: yellow; color: black;}
.LoMlow { background: red; }