#startDatePicker, #endDatePicker {
  display: inline-block;
  box-sizing: border-box;
  max-width: 100%;
}
#startDatePicker[disabled], #endDatePicker[disabled] {
  cursor: default;
  border-style: none;
  box-shadow: none;
}
#workPeriodPopoverX .popover-content .date-range {
  background-color: #EFEFEF;
  border-radius: 6px;
  width: 220px;
  padding: 0px 6px 12px;
}
#workPeriodPopoverX .popover-content .date-range.completed {
  background-color: #5BC0DE;
}
#workPeriodPopoverX .popover-content .date-range.expected {
  background-color: #F0AD4E;
}
#workPeriodPopoverX .popover-content .unit-date-range {
  background-color: #AFAFAF;
  border-radius: 6px;
}
.btn.workPeriod-gauge {
  padding: 0;
  margin: 0;
  line-height: 0;
}
