#startDatePicker, #endDatePicker {
  display: inline-block;
  width: 220px;
}
#workPeriodPopoverX .popover-content .date-range {
  background-color: #EFEFEF;
  border-radius: 6px;
}
#workPeriodPopoverX .popover-content .unit-date-range {
  background-color: #AFAFAF;
  border-radius: 6px;
}
.popover-xlg {
    min-width: 700px;
}
.btn.workPeriod-gauge {
  padding: 0;
  margin: 0;
  line-height: 0;
}
