.editable-click {
  outline: 1px dashed gray;
}
.editable-click, .editable-click.editable-disabled {
  border-bottom-style: none; /* x-edit default was dotted */
  color: black;
}
.editable-click.editable-disabled {
  outline: 0;
}
.editable-click.editable-empty {
  color: gray;
  font-style: italic;
}
#textArea {
  width: 300px;
}
