<template name="assessmentHeader">
  <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
          <a class="navbar-brand" href="{{pathFor 'openlab'}}">{{siteTitle}}</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
      </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!--<li class="{{activeIfEditingMainPage}} {{hiddenIfNotTeacher}}">
              <a href="#" id='editButton'>{{edit}}</a>
            </li>-->
            {{#with justOneStudent}}
              <p class="navbar-text">
                <span title = "{{getname currentUser 'full'}}">{{getname currentUser 'first'}}</span>  grading individual assessment for <span title = "{{getname _id 'full'}}">{{getname _id 'first'}}</span>
              </p>
            {{else}}
              {{>viewAs}}
            {{/with}}
            <!--{{>groups}}-->
          </ul>
          <p class="navbar-text">{{{pageTitle}}}</p>
          <ul class="nav navbar-nav navbar-right">
            {{> loginButtons}} 
          </ul>
      </div>
  </div>
</template>



