<template name = 'activitiesList'> 
   <h5 id='activitiesListTitle'>activities <span>(completed/expected/total)</span></h5>
   <div id='activities'>
    {{#each units}}
      {{> activitiesSublist }}
    {{/each}}
    </div>
</template>

<template name='activitiesSublist'>
      <h3> <a href="#" title="{{longname}}"> {{title}} </a></h3> 
      <div class = 'Unit'>
        {{#each activities}}
          {{> activityItem}}
        {{/each}}
      </div>
</template>

<template name = 'activityItem'>
    <div>
    <p data-activityid={{_id}} class="ui-state-default col-md-3">
      <a href="#">{{title}}</a> 
    </p>
    </div>
</template>

