<template name = "studentView">
  <div class='container-fluid'>
    <div class="row"> <!-- class="modal-body row" to scroll -->
	    <div class='col-md-7'>
	      {{> activitiesList}}
	    </div>
<!-- testing embed code -->      
  <div class="col-md-7 bottom12">
    <div class="embed-responsive embed-responsive-4by3 ">
      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/106220616" allowfullscreen></iframe> 
    </div>
    <p><a href="https://vimeo.com/106220616">VectorAddGUI</a> from <a href="https://vimeo.com/user13311273">greenwolfe</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
  </div>

  <div class="col-md-7 bottom12">
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="https://mix.office.com/embed/18pki09swrl97" allowfullscreen></iframe>
    </div>
  </div>

  <div class="col-md-7">
    <p> <a href="https://caryacademy-my.sharepoint.com/personal/matt_greenwolfe_caryacademy_org/Documents/16-ADVANCED-rotational-motion/01-rotational-kinematics-rubric.pdf">01-rotational-kinematics-rubric.pdf</a></p>
  </div>
<!-- end embed test -->
    </div>
    <div class="row">
      <div class="col=md-7">
        {{> upload_bootstrap multiple=true}}
        {{> dropzone multiple=false}}
        <p>
          <a href="/upload/RescueEinstein.png">RescueEinstein.png</a>
        </p>
      </div>
    </div>
  </div>
</template>


