<template name = 'activitiesList'> 
  <div id="activitiesListTitle">
    <h4 >activities</h4>
    <span class="progress-bar-warning"> expected progress </span>
    <span class="progress-bar-info"> your progress </span>
    <i class="fa fa-question-circle" title="Click title to select unit.  Ctrl-click another to view two units side-by-side."></i>
  </div>
  <ul id='units' class="nav nav-pills">
    {{#sortable1c items=units options=sortableOpts}}
      {{> unitTitle}}
    {{/sortable1c}}
    {{#if editingMainPage}}
      {{>newUnit}}
    {{/if}}
  </ul>
  {{#with activeUnit}}
    {{> activityList}}
  {{/with}}
</template>

<template name="unitTitle">
  <li class="unittitle {{active}} {{active2}} col-md-2">
    {{#if editingMainPage}}
      <div>
        <a class="glyphicon glyphicon-move sortUnit" title="Drag to reorder."></a>
        {{>showHide collection='Units' itemName='unit' item=this}}
      </div>
    {{else}}
      <div class="progress">
        <div class="progress-bar progress-bar-warning" style="width: 70%;" title="18/20"></div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-info" style="width: 30%;" title="15/18"></div>
      </div>
    {{/if}}
    <a href="#" title="{{longname}}">      
      {{{title}}}
    </a>
    {{#if editingMainPage}}
      <div class="row" {{hidden}}>
        {{>plaintexteditor collection='Units' field='title' _id=_id editable=editable}}
        {{>plaintexteditor collection='Units' field='longname' _id=_id placeholder = 'add hover text' editable=editable}}
      </div>
    {{/if}}
  </li>
</template>

<template name="newUnit">
  <li class="disabled col-md-2">
    <a href="#"  class="newunit">
      Add new unit
    </a>
    <div class="row">
      {{>plaintexteditor collection='Units' field='title' editable='true' placeholder='type title here' clearOnSave=true}}
    </div>
  </li>
</template>

<template name='activityList'>
  <div id='activityList' class="row">
    <div class = 'activityColumn column col-md-6 {{bgprimary}}'>
      {{#sortable1c items=activities0 options=sortableOpts}}
        {{> activityItem}}
      {{/sortable1c}}
      {{#if editingMainPage}}
        {{#if activities2}}
          {{>newActivity}}
        {{/if}}
      {{/if}}
    </div>
    <div class = 'activityColumn column col-md-6 {{bgsuccess}}'>
      {{#if activities2}}
        {{#sortable1c items=activities2 options=sortableOpts2}}
          {{> activityItem}}
        {{/sortable1c}}
        {{#if editingMainPage}}
          {{#with activeUnit2}}
            {{>newActivity}}
          {{/with}}
        {{/if}}
      {{else}}
        {{#sortable1c items=activities1 options=sortableOpts}}
          {{> activityItem}}
        {{/sortable1c}}
        {{#if editingMainPage}}
          {{>newActivity}}
        {{/if}}
      {{/if}}
    </div>
  </div>
</template>

<template name = 'activityItem'>
    <p class="aItem">
      {{#if editingMainPage}}
        <a class="glyphicon glyphicon-move sortActivity" title="Drag to reorder or move to another model (in side-by-side view)."></a>
        {{>showHide collection='Activities' itemName='activity' item=this}}
        {{>plaintexteditor collection='Activities' field='title' _id=_id editable=editingMainPageTFtext}} 
      {{else}}
        <i class="activityStatus {{status}}" title="{{hoverText}}"></i>
        <i class="activityPunctual {{late}}" title="late"></i>
        <a  href="{{pathFor 'activityPage' _id=pointsToOrID}}"> {{{title}}} </a>
      {{/if}}
    </p>
</template>

<template name='newActivity'>
  <p class='newItem'>
    {{>plaintexteditor collection='Activities' field='title' editable='true' placeholder='Add new activity.  Type title here.' clearOnSave=true fixedFields=fixedFields}}
  </p>
</template>

