<body>
  {{>addCalendarEventModal}}
</body>

<template name="addCalendarEventModal">
  <div id="addCalendarEventModal" class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          {{#with calendarEvent}}
            {{formatDate date}} 
            {{#if title}}
              <h3>{{{title}}}</h3>
            {{else}}
              <h3>Add Calendar Event</h3>
            {{/if}}
          {{/with}}
        </div>
        <div class="modal-body">
          {{#with calendarEvent}}
            <div class="container-fluid">

              <div class="row">
                <div class="col-xs-12">
                  <span>Link With An Activity: </span>
                  <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                      {{#with activeUnit}}
                        <span lang="en" title="{{longname}}">{{{title}}}</span>
                      {{else}}
                        <span>Select a Unit</span>
                      {{/with}}
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      {{#each units}}
                        <li class="unitTitle {{unitBgPrimary}}">
                          <a class='displayTitle' lang="en" href="#" title="{{longname}}"> 
                            {{{title}}}
                          </a>
                        </li>
                      {{/each}}                
                    </ul>
                  </div>
                  <div class="btn-group">
                    {{#if activeUnit}}
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        {{#with selectedActivity}}
                          <span lang="en" title="{{longname}}">{{{title}}} {{#if tag}}({{{tag}}}){{/if}}</span>
                        {{else}}
                          <span>Select an activity</span>
                        {{/with}}
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li class="chooseNoActivity">
                          <a href="#">none</a>
                        </li>
                        {{#each activeUnitActivities}}
                          <li class="activityForChoosing {{activityBgPrimary}}">
                            <a href="#" class="">{{{title}}} {{#if tag}}({{{tag}}}){{/if}}</a>
                          </li>
                        {{/each}}                
                      </ul>
                    {{/if}}
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-1">
                  <span>Title:</span>
                </div>
                <div class="col-xs-11">
                  <div id="calEventModalTitle" class='plaintexteditor' contenteditable='true' placeholder='Add a title'></div>
                </div>
              </div>

              <div class="row">
                <!--add namedTimePeriods collection with Mon: {from:Date,to:Date}, Tue: {from:Date,to:Date}, etc -->
                <!-- make this a dropdown selector with a text entry -->
                <!-- new text entries added to collection -->
                <!--show conflicting appointments -->
                <div class="col-xs-4">
                  <div id="calEventModalTimeperiodName" class='plaintexteditor' contenteditable='true' placeholder='When: '></div>
                </div>
                <div class="col-xs-1">
                  <span> From: </span>
                </div>
                <div class="col-xs-3">
                  <div class="form-group">
                    <div class='input-group date' id='calEventModalFrom'>
                      <input type='text' class="form-control"  {{disabled}}/>
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-1">
                  <span> To: </span>
                </div>
                <div class="col-xs-3">
                  <div class="form-group">
                    <div class='input-group date' id='calEventModalTo'>
                      <input type='text' class="form-control"  {{disabled}}/>
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <!--
              with ... select group or members or section (if teacher)
              where ... OOC, FTF, HOM and location name
              todos ... and numberOfTodoItems, numberTodosCompleted
              -->

              <div class="row">
                <div class="col-xs-1">
                  <span> Notes: </span>
                </div>
                <div class="col-xs-11">
                  <div id="calEventModalNote" class="summernote"></div>
                </div>
              </div>
            </div>
          {{/with}}
        </div>
        <div class="modal-footer bg-{{messageType}}">
          {{#if dataValidated}}
            <button class="btn btn-primary"  id="saveCalendarEvent">
              Save
            </button>
          {{else}}
            <p>Please fill in missing fields.</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>